



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
 body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
  -moz-user-select: none;
  background: #4272d7 none repeat scroll 0 0;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 15px 40px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.btn.btn-black {
	background: #303b41;
}
.btn.btn-black:hover {
	background: #1a1a1a;
}
.btn:hover {
	background: #106fab;
	color: #fff
}
.btn.btn-large {
	padding: 10px 25px;
}
.btn-lg {
	font-weight: 700;
	padding: 13px 31px;
}
.btn.white-btn:hover {
	border-color: #ddd;
	color: #ddd
}
.btn.btn-base.btn-link {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	color: #1696e7;
	padding: 0;
	text-decoration: none;
}
.btn.btn-base.btn-link:hover {
	color: #106fab;
}
.bg-white {
	background-color: #ffffff;
}

/*header-title-area -start*/

.header-title-area {
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
}
.header-title-content {
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-title-content a {
    color: #fff;
}
.header-title-content-social  {
     margin-top: 10px;
    margin-bottom: 10px;
}
.header-title-content-social a {
    color: #fff;
     margin-top: 10px;
    margin-bottom: 10px;
}
.header-title-content a img {
    height: 25px;
    width: 25px;
}
.header-title-content-social i {
    margin-right: 30px;
    background: #1b2334;
    color: #fff;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}
.header-title-content-social i:hover{
   background: #4272d7;
}
/*header-title-area-end*/


/*header-area -start*/
.main-menu ul {}
.main-menu ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.main-menu ul li a {
    padding: 50px 0;
    font-size: 16px;
    color: #666;
    display: block;
    text-decoration: none;
}
.main-menu ul li:hover a{
    color:  #4272d7;
}

/*sub-menu*/
.main-menu ul li ul.sub-menu {
    position: absolute;
    background: #171a21;
    width: 260px;
    border-top: 3px solid #4272d7;
    padding: 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 110%;
}
.main-menu ul li:hover ul.sub-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.sub-menu li {
    display: block;
    margin: 0;
    border-bottom: 2px solid #1e2128;
}
.main-menu ul li ul.sub-menu li:last-child{border-bottom: 0;}
.main-menu ul li ul.sub-menu li a {
    padding: 15px 20px;
    color: #fff;
    font-size: 12px;
}
.main-menu ul li ul.sub-menu li:hover > a{background:#4272d7 }
.main-menu ul li ul.sub-menu li ul.sub-menu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.sub-menu li:hover > ul.sub-menu{
    opacity: 1;
    visibility: visible;
}
/*search-area*/
.header-search{
    padding: 30px 0;
    position: relative;
}
.header-search:before {
    background: #ccc;
    height: 15px;
    width: 2px;
    content: '';
    position: absolute;
    left: -38px;
}
.search-form {
    position: absolute;
    width: 230px;
    top: 100%;
    right: 0;
    background: #666;
    transition: 0.3s;
    opacity: 1;
    visibility: hidden;
}
.header-search:hover .search-form{
    opacity: 1;
    visibility: visible;
}
.search-form input {
    background: none;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    color: #fff;
}
.search-form form {
    position: relative;
}
.search-form button {
    position: absolute;
    right: 0;
    height: 100%;
    border: 0;
    background: none;
    color: #fff;
    width: 46px;
}

/*header-title-area -start*/

.header-title-area {
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
}
.header-title-content {
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-title-content a {
    color: #fff;
}
.header-title-content-social  {
     margin-top: 10px;
    margin-bottom: 10px;
}
.header-title-content-social a {
    color: #fff;
     margin-top: 10px;
    margin-bottom: 10px;
}
.header-title-content-social i.fa.fa-camera {
    margin-right: 30px;
}

/*header-title-area-end*/


/*header-area -start*/
.main-menu {
    float: right;
}
.main-menu ul {}
.main-menu ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.main-menu ul li a {
    padding: 30px 0;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #000;
}
.main-menu ul li:hover a{
    color:  #4272d7;
}

/*sub-menu*/
.main-menu ul li ul.sub-menu {
    position: absolute;
    background: #171a21;
    width: 260px;
    border-top: 3px solid #4272d7;
    padding: 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 110%;
    z-index: 10;
}
.main-menu ul li:hover ul.sub-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.sub-menu li {
    display: block;
    margin: 0;
    border-bottom: 2px solid #1e2128;
}
.main-menu ul li ul.sub-menu li:last-child{border-bottom: 0;}
.main-menu ul li ul.sub-menu li a {
    padding: 15px 20px;
    color: #fff;
    font-size: 12px;
}
.main-menu ul li ul.sub-menu li:hover > a{background:#4272d7 }
.main-menu ul li ul.sub-menu li ul.sub-menu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.sub-menu li:hover > ul.sub-menu{
    opacity: 1;
    visibility: visible;
}

/*search-area*/
.header-search{
    padding: 30px 0;
    position: relative;
}
.header-search::before {
    background: #ccc;
    height: 15px;
    width: 2px;
    content: '';
    position: absolute;
    left: -15px;
    top: 35px;
}
.search-form {
    position: absolute;
    width: 230px;
    top: 100%;
    right: 0;
    background: #ddd;
    transition: 0.3s;
    opacity: 1;
    visibility: hidden;
    z-index: 10;
    border-radius: 5px;
}
.header-search:hover .search-form{
    opacity: 1;
    visibility: visible;
}
.search-form input {
    background: none;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    color: #fff;
}
.search-form form {
    position: relative;
}
.search-form button {
    position: absolute;
    right: 0;
    height: 100%;
    border: 0;
    background: none;
    color: #000000a3;
    width: 46px;
}

/*slider-area*/
.slider-wrapper {
  padding: 190px 100px;
}

.slider-wrapper h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.slider-wrapper a.btn {
    margin-right: 40px;
    background: #fccc34;
    text-transform: uppercase;
    box-shadow: none;
}
.slider-active
.slider-active .owl-nav{}
.slider-active .owl-nav div {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    left: 30px;
    transform: translateY(-50%);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    opacity: 0.7;
    border: 2px solid #fff;
    color: #fff;
}
.slider-active:hover .owl-nav div{
    opacity: 1;
    visibility: visible;
}
.slider-active .owl-nav .owl-next {
    right: 30px;
    left: auto;
}

.slider-active .owl-dots {
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 45px;
}
.slider-active .owl-dot {
    width: 20px;
    height: 20px;
    background: #6660;
    margin: 0 8px;
    display: inline-block;
    border: 2px solid #fff;
}
.slider-active .owl-dot.active {
    background: #fccc34;
    border: none;
}


/*about-area*/
.about-area {
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-info h2 {
    font-size: 60px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
.about-info h2:before {
    position: absolute;
    background: #FCCC34;
    width: 100px;
    height: 3px;
    content: '';
    bottom: 0;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
.about-content h2 {
    font-size: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}
.about-content span {
    font-size: 16px;
    color: #666;
    padding: 10px;
    display: block;
}
.about-content a.btn {
    background: #fff;
    border: 2px solid #000000;
    font-size: 15px;
    color: #000000;
    padding: 15px 35px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: none;
}

/*search-area*/
.search-area {
    margin-top: 50px;
    margin-bottom: 50px;
}
.search-img-area img {
    width: 100%;
}
.card-body h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    color: #000;
    padding-bottom: 30px;
    margin-top: 30px;
}
.card-body h2:before {
    position: absolute;
    background: #FCCC34;
    width: 100px;
    height: 3px;
    content: '';
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 53px;
}


/*course-area*/
.course-area {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.course-info h2 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #000;
}
.course-info h2:before {
    position: absolute;
    width: 100px;
    height: 3px;
    content: '';
    background: #FCCC34;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
}
.course-info a.btn{}.course-info a.btn {
    background: #fff;
    border: 3px solid #ccc;
    font-size: 15px;
    color: #ccc;
    padding: 15px 35px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: none;
}

/*singel-course */
.singel-course {
    margin-top: 55px;
}
.singel-course img {
    width: 100%;
}
.singel-course a.btn {
    background-color: #ffc107;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: none;
}
.singel-course h2 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.singel-course p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
.icon-area i{
    font-size: 14px;
    color: #6666667a;
    margin-right: 20px;
}
.icon-area i span {
    margin-left: 5px;
}

/*cta-area*/
.cta-area {
    margin-top: 50px;
    margin-bottom: 50px;
}
.cta-content {
    border: 2px solid #ddd;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.cta-info img {
    margin-right: 80px;
    margin-bottom: 20px;
    margin-top: 25px;
    height: 50px;
    width: 50px;
}
.cta-info h2 {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

/*academic-service-area*/
.academic-service-area{
    padding-top: 60px;
    padding-bottom: 50px;
}
.academic-service-area p {
    font-size: 16px;
    margin-top: 35px;
}

/*service-cta-area */
.service-cta-area {
    margin-bottom: 50px;
}

/*academic-gallery-area*/
.academic-gallery-area{
    padding-top: 55px;
    padding-bottom: 50px;
}
.academic-gallery-area p {
    padding-top: 15px;
    font-size: 16px;
}
.image-area img {
    width: 100%;
}


/*academic-gallery-image-area*/
.academic-gallery-image-area {
    margin-bottom: 30px;
}
.single-image-area {
    position: relative;
}
.image-area {
    margin-bottom: 30px;
}
.image-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}
.single-image-area:hover .image-content{
    opacity: 1;
    visibility: visible;
}
.image-thumb {
    position: relative;
}
.image-thumb:before {
    width: 100%;
    height: 100%;
    background: #00000061;
    content: '';
    top: 0;
    position: absolute;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}
.single-image-area:hover .image-thumb:before{
    opacity: 1;
}
.image-content i{
    font-size: 40px;
    color: #fff;
}

/*academic-event-area*/
.academic-event-area {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*pop-cta-area*/
.pop-cta-area .cta-info h2 {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #0006;
    font-weight: 600;
}
.pop-cta-area img {
    margin-right: 30px;
}
.pop-cta-area .cta-content {
    border: 2px solid #ddd;
    padding: 25px 30px;
    margin-bottom: 20px;
}
.pop-cta-area h2 {
    font-size: 30px;
    color: #000;
    font-weight: 600;
}

/*academic-record-area*/
.academic-record-area p {
    padding-top: 17px;
    font-size: 16px;
}
.academic-history-area .cta-content {
    border: 2px solid #ddd;
    padding: 25px 30px;
    margin-bottom: 20px;
}
.academic-history-area .cta-info h2 {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #0006;
}
.academic-history-area h2 {
    color: #000;
    font-weight: 600;
    font-size: 30px;
}

/*register-area*/
.register-area {
    margin-top: 50px;
    margin-bottom: 50px;
}
.register-image-content {
    background: #000000c2;
    padding: 40px;
}

/*register-side1*/
.register-area .register-side1 h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
}
.register-area .register-side1 h2:before {
    position: absolute;
    height: 3px;
    width: 60px;
    background: #FCCC34;
    content: '';
    top: 60px;
    left: 0;
    bottom: 0;
    margin: auto;
}
.register-side1 input {
    background: none;
    border: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 20px;
}
.register-side1 a.btn {
    background: none;
    border: 2px soild #fff;
    border: 2px solid;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

/*register-side2*/
.register-area .register-side2 img {
    width: 100%;
}
.register-area .register-side2 h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.register-area .register-side2 p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 5px;
}
.register-area .register-side2 i {
    color: #fff;
    background: #FCCC34;
    padding: 15px 20px;
    margin-bottom: 15px;
}

/*academic-teacher-area*/
.academic-teacher-area.text-center {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*happy-student-area*/
.happy-student-area {
    background-image: url(../img/img/blog-image1.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
}
.happy-student-area .student-info {
    background: #0000009e;
    padding-top: 20px;
    padding-bottom: 30px;
}
.happy-student-area .student-info h2 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    position: relative;
}
.happy-student-area .student-info h2::before {
    position: absolute;
    width: 100px;
    height: 3px;
    content: '';
    background: #FCCC34;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 80px;
}
.happy-student-area .student-info a.btn {
    background: no-repeat;
    border: 3px solid #ccc;
    font-size: 15px;
    color: #fff;
    padding: 15px 35px;
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: none;
}

/*academic-news-area*/
.academic-news-area {
    margin-bottom: 50px;
}

/*subcribe-area*/
.subcribe-area {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/features/features1.jpg);
    background-size: cover;
}
.subcribe-area .course-info h2:before {
    position: absolute;
    width: 100px;
    height: 3px;
    content: '';
    background: #FCCC34;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 165px;
}

.subcribe-area input.form-control-lg {
    margin-top: 45px;
    border-radius: none;
    border-radius: inherit;
}
.subcribe-area .course-info a.btn {
    background: none;
    border: 3px solid #666;
    font-size: 15px;
    color: #666;
    padding: 15px 35px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: none;
}

/*footer-area */
.footer-area {
    background: #ccc;
}
.footer-menu {
    padding-top: 100px;
    padding-bottom: 40px;
    background: #000;
    margin-top: -80px;
}
.footer-menu ul li {
    display: inline-block;
}
.footer-menu ul li a {
    color: #666;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}
.footer-menu .single-footer {
    padding-top: 20px;
}
.footer-menu .single-footer h2 {
    color: #ffffffd9;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    text-transform: uppercase;
    float: left;
}
.footer-menu .single-footer h2:before {
    position: absolute;
    height: 3px;
    width: 60px;
    background: #FCCC34;
    content: '';
    top: 60px;
    bottom: 0;
    margin: auto;
}
.singel-info {
    margin-top: 50px;
    float: left;
}
.singel-info i {
    color: #666;
    margin-top: 15px;
}
.singel-info p {
    font-size: 16px;
    color: #666;
    padding-left: 15px;
    font-weight: 400;
}
.single-footer-two {
    padding-top: 20px;
}
.single-footer-two h2 {
    color: #ffffffd9;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    text-transform: uppercase;
    float: left;
}
.single-footer-two h2:before {
    position: absolute;
    height: 3px;
    width: 60px;
    background: #FCCC34;
    content: '';
    top: 60px;
    bottom: 0;
    margin: auto;
}
.single-footer-info {
    margin-top: 50px;
    float: left;
}
.single-footer-info i {
    font-size: 20px;
    color: #666;
    margin-right: 20px;
}
.single-footer-info p {
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}
.footer-social-area i {
    background: #1b2334;
    color: #fff;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}
.footer-social-area i:hover{
   background: #1696e7;
}

.instagram-area img {
    width: 40%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*choose-us-area */

.why-chosse-area .chosse-info h2 {
    font-size: 55px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.why-chosse-area .chosse-info h2:before{
    position: absolute;
    width: 100px;
    height: 3px;
    content: '';
    background: #FCCC34;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 80px;
}
.choose-us-area {
    background-image: url(../img/img/RegisterNowimg1.jpg);
    background-size: cover;
    cursor: pointer;
}
.overlay-dark {
    background: #000000b5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.choose-us-area .choose-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
}
.choose-us-area .project-content{
    padding: 0px 10px;
}
.choose-us-area .project-content img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.choose-us-area .project-content h2 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
}
.choose-us-area .project-content p {
    color: #fff;
}



.header-area.sticky.scroll-header {
    position: fixed;
    left: 0;
    right: 0;
    background: #666666;
    z-index: 2046;
    top: 0;
}